<div class="flex items-center min-h-14">
    <mat-checkbox
        [formControl]="parentControl"
        (change)="checkChange($event)"
    >
    </mat-checkbox>
    <div ngClass="{{ disabled ? 'disabled' : '' }}">
        {{ upgradeRule?.value }}
    </div>
    <div class="ml-3">
        <mat-form-field
            appearance="outline"
            class="flex items-baseline"
            subscriptSizing="dynamic"
            [hidden]="!showOptions"
        >
            <mat-select
                [formControl]="magicalPowerChoice"
                (selectionChange)="changeMagicalPower($event)"
            >
                <mat-option
                    [value]="undefined"
                    disabled="true"
                    >-</mat-option
                >
                <mat-option
                    *ngFor="let item of characterCurrentPowers"
                    [value]="item.id"
                    >{{ item.name }}</mat-option
                >
            </mat-select>
        </mat-form-field>
    </div>
    <div class="ml-3">
        <mat-form-field
            appearance="outline"
            class="flex items-baseline"
            subscriptSizing="dynamic"
            [hidden]="!showOptions"
        >
            <mat-select
                [formControl]="bonusFeatureChoice"
                (selectionChange)="changeBonusFeature($event)"
            >
                <mat-option
                    [value]="undefined"
                    disabled="true"
                    >-</mat-option
                >
                <mat-option
                    *ngFor="let item of bonusFeatures"
                    [value]="item.id"
                    >{{ item.name }}</mat-option
                >
            </mat-select>
        </mat-form-field>
    </div>
</div>
