<div class="flex flex-wrap sm:min-h-14 min-w-xs sm:w-[800px]!">
    <div class="flex items-center sm:w-1/2">
        <mat-checkbox
            [formControl]="parentControl"
            (change)="checkChange($event)"
        >
        </mat-checkbox>
        <div ngClass="{{ disabled ? 'disabled' : '' }}">
            {{ upgradeRule?.value }}
        </div>
    </div>
    <div class="flex w-full sm:w-1/2">
        <mat-form-field
            appearance="outline"
            class="sm:max-w-9/20"
            subscriptSizing="dynamic"
            [hidden]="!showOptions"
        >
            <mat-select
                [formControl]="attributeChoice"
                (selectionChange)="changeAttribute($event)"
            >
                <mat-option
                    [value]="undefined"
                    disabled="true"
                    >-</mat-option
                >
                <mat-option
                    *ngFor="let item of Attributes; trackBy: trackByFn"
                    [value]="item"
                    >{{ AttributeOption[item] | titlecase }}</mat-option
                >
            </mat-select>
        </mat-form-field>
    </div>
</div>
