<div class="secondary">
    <div class="content">
        <mat-toolbar>
            <mat-toolbar-row>
                <img
                    src="/magicalkittieslogosquare4-w300h300.png"
                    class="h-20"
                />
                <div class="flex mr-auto ml-auto md:ml-auto md:mr-auto">
                    <div class="flex flex-col mr-10">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                    <div class="flex flex-col">
                        <a href="#">Link 4</a>
                        <a href="#">Link 5</a>
                    </div>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</div>
