<div class="secondary">
    <div class="content">
        <mat-toolbar>
            <mat-toolbar-row>
                <img
                    src="/magicalkittieslogosquare4-w300h300.png"
                    class="logo"
                />
                <div class="flex lg-flex-row sm-flex-col ml-auto mr-auto">
                    <div class="flex flex-col mr-2">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                    <div class="flex flex-col">
                        <div>
                            <a href="#">Link 4</a>
                            <a href="#">Link 5</a>
                        </div>
                    </div>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</div>
