<div class="secondary">
    <div class="content">
        <mat-toolbar class="top">
            <mat-toolbar-row>
                <img
                    src="/magicalkittieslogosquare4-w300h300.png"
                    class="h-20"
                />
                <div class="flex mr-auto ml-auto md:ml-auto md:mr-auto">
                    <div class="flex flex-col mr-10">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                    <div class="flex flex-col">
                        <a href="#">Link 4</a>
                        <a href="#">Link 5</a>
                    </div>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</div>
<div class="primary">
    <div class="content flex mr-5 p-1">
        <mat-toolbar class="bottom">
            <mat-toolbar-row class="mb-1">
                <div class="text-sm md:text-md">&copy; 2025 T3MP0RALFLUX SOFTWARE SOLUTIONS LLC | ALL RIGHTS RESERVED</div>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <div class="flex text-wrap text-[0.6rem] md:text-xs">Magical Kitties Save the Day&trade; is a trademark of Matthew J Hanson, used under no license. Atlas Games retains the rights to the game, its materials, assets, and all other items related to the game. TSS assumes no hold, trademark, licensure, or anything on this game. Just trying to keep skills sharp. &copy;2025 T3mp0ralflux Software Solutions LLC.</div>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="flex items-center min-w-1/3">
            <div class="mr-5 text-sm on-primary">PRIVACY POLICY</div>
            <div class="text-sm on-primary">TERMS OF SERVICE</div>
        </div>
    </div>
</div>
