@use "@angular/material" as mat;

mat-toolbar {
    @include mat.toolbar-overrides(
        (
            container-background-color: var(--mat-sys-secondary),
            container-text-color: var(--mat-sys-on-secondary),
        )
    );
}

mat-toolbar-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;

    @media (width >= 48rem /* 768px */) {
        flex-direction: row;
    }
}
