@use "@angular/material" as mat;

mat-toolbar {
    height: fit-content;
    @include mat.toolbar-overrides(
        (
            container-background-color: var(--mat-sys-secondary),
            container-text-color: var(--mat-sys-on-secondary),
        )
    );
}

mat-toolbar-row {
    display: flex;
    align-items: center;
}
