<main>
    <div class="flex flex-col md:flex-row min-h-dvh">
        <div
            id="leftColumn"
            class="hidden md:flex md:flex-col w-1/4"
        >
            <div
                id="dreamKitty"
                class="mb-auto"
            >
                <img
                    src="/magical-kitties-dreamwalker.png"
                    class="md:w-11/12"
                />
            </div>
            <div id="kidDm">
                <img
                    src="/girl_dm.png"
                    class="md:w-11/12"
                />
            </div>
        </div>
        <div
            id="middleColumn"
            class="flex md:w-1/2 justify-center"
        >
            <div class="min-w-auto mt-20 sm:mt-auto sm:mb-auto">
                <div class="mb-5">
                    <a
                        routerLink="/"
                        routerLinkActive="router-link-active"
                        class="clickable"
                    >
                        <img
                            src="/magicalkittieslogosquare4-w300h300.png"
                            width="200px"
                            class="mr-auto ml-auto"
                        />
                    </a>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
        <div
            id="rightColumn"
            class="flex flex-col mt-auto md:mt-0 w-4/5 md:w-1/4 ml-auto mr-auto"
        >
            <div
                id="catDm"
                class="flex justify-center mt-auto md:justify-end"
            >
                <img
                    src="/cat_dm.png"
                    class="md:w-11/12"
                />
            </div>
        </div>
    </div>
</main>
