<form
    class="flex flex-col max-w-2/3 ml-auto mr-auto"
    [formGroup]="formGroup"
    (ngSubmit)="submit()"
    *ngIf="!emailSent"
>
    <span class="mb-5">Enter your email address and click Forgot Password to reset your password.</span>
    <mat-form-field>
        <mat-label>Email address</mat-label>
        <input
            matInput
            formControlName="email"
        />
    </mat-form-field>
    <button
        mat-raised-button
        (click)="submit()"
        disabled="{{ formGroup.invalid }}"
    >
        Forgot Password
    </button>
</form>
<div *ngIf="emailSent">
    <span>Sorry you forgot your password, but it's ok. This happens all the time. An email will be sent out to your email with instructions on how to reset your password.</span>
</div>
