<div class="bg-sheet-bg-light-blue flex flex-col px-2 content md:min-h-[1000px]">
    <mat-tab-group [selectedIndex]="shownTab">
        <mat-tab label="Gameplay Information">
            <div class="mb-1">
                <h1>guiding the game</h1>
                <p>The Game Master guides the game. They make up the events that happen in the story. The GM also decides how difficult it is for the kitties to do tricky tasks, describes what happens when the kitties succeed or fail, and acts out what all the other creatures in the story are doing. That includes the humans the kitties live with, the scary dog down the road, the feather-headed sparrow that shows up whenever trouble's brewing, and more.</p>
                <br />
                <p>But <strong>Magical Kitties Save the Day</strong> isn't just Make Believe or Let's Pretend. It's also a game with rules. Your kitties will face big problems, and when they try to solve them the GM will use the rules of the game to figure out the result. Because each player takes on the role of a character in the story — like an actor on television or in a movie — Magical Kitties is called a roleplaying game, or RPG for short.</p>
            </div>
            <div class="bg-white border-2 border-sheet-bg-dark-blue my-1">
                <h2 class="text-center mt-2">HOW TO BE A MAGICAL KITTY</h2>
                <ul>
                    <li class="flex items-center"><span class="material-symbols-outlined">star_rate</span>You must keep your magic hidden from humans.</li>
                    <li class="flex items-center"><span class="material-symbols-outlined">star_rate</span>You pick your human, even when it seems like the humans pick the kitties.</li>
                    <li class="flex items-center"><span class="material-symbols-outlined">star_rate</span>You want to help your human.</li>
                    <li class="flex items-center"><span class="material-symbols-outlined">star_rate</span>You can understand humans, but they can't understand you.</li>
                    <li class="flex items-center"><span class="material-symbols-outlined">star_rate</span>You can understand other animals, and they can understand you, too.</li>
                    <li class="flex items-center"><span class="material-symbols-outlined">star_rate</span>You can read human writing, but it's very difficult and sometimes you get it wrong.</li>
                    <li class="flex items-center"><span class="material-symbols-outlined">star_rate</span>You have a special spot in your home that the humans can't reach. This spot lets you get in and out of your home without being seen.</li>
                    <li class="flex items-center"><span class="material-symbols-outlined">star_rate</span>YOU MUST KEEP YOUR MAGIC HIDDEN FROM HUMANS!<br /></li>
                    <li class="flex items-center"><span class="ml-6"></span>(There are a small number of humans who already know the secrets of magical kitties. Witches, for example. These humans can often understand you, and it's okay to use your Magical Powers in front of them.)</li>
                </ul>
            </div>
            <div class="my-1">
                <h1>winning the game</h1>
                <p>Unlike other games, roleplaying games like <strong>Magical Kitties Save the Day</strong> aren't about winning or losing. Instead, they're about having fun and creating a story with your friends. That's not to say you don't have goals, but while other games tell you what the goals are, Magical Kitties lets you create your own. One player might want to help their kitty's owner make new friends, while another player could want their kitty to track down the alien who stole a favorite toy.</p>
                <br />
                <p>Good things and bad things will happen to the kitties as you play the game, but these are never the end of the game. They're just another episode in the series. As long as you and your friends keep describing what your kitties are doing and saying, the game keeps going. And along the way you'll make a world together!</p>
            </div>
        </mat-tab>
        <mat-tab label="Talents">
            @if (characterAPI.rules) {
                <div class="flex flex-col md:flex-row md:max-w-1/3 talents">
                    <table
                        mat-table
                        [dataSource]="characterAPI.rules.talents.slice(0, 12)"
                        class="border-2 border-sheet-bg-light-blue"
                    >
                        <ng-container matColumnDef="id">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Roll
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                            >
                                {{ element.id }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Talent
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                            >
                                <h6>{{ element.name }}:</h6>
                                {{ element.description }}
                            </td>
                        </ng-container>

                        <tr
                            mat-header-row
                            *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: displayedColumns"
                        ></tr>
                    </table>
                    <table
                        mat-table
                        [dataSource]="characterAPI.rules.talents.slice(12, 24)"
                    >
                        <ng-container matColumnDef="id">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Roll
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                            >
                                {{ element.id }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Talent
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                            >
                                <h6>{{ element.name }}:</h6>
                                {{ element.description }}
                            </td>
                        </ng-container>

                        <tr
                            mat-header-row
                            *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: displayedColumns"
                        ></tr>
                    </table>
                    <table
                        mat-table
                        [dataSource]="characterAPI.rules.talents.slice(24, 36)"
                    >
                        <ng-container matColumnDef="id">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Roll
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                            >
                                {{ element.id }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Talent
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                            >
                                <h6>{{ element.name }}:</h6>
                                {{ element.description }}
                            </td>
                        </ng-container>

                        <tr
                            mat-header-row
                            *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: displayedColumns"
                        ></tr>
                    </table>
                </div>
            }
        </mat-tab>
        <mat-tab label="Flaws">
            @if (characterAPI.rules) {
                <div class="flex flex-col md:flex-row md:max-w-1/3 flaws">
                    <table
                        mat-table
                        [dataSource]="characterAPI.rules.flaws.slice(0, 12)"
                        class="border-2 border-sheet-bg-light-blue"
                    >
                        <ng-container matColumnDef="id">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Roll
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                            >
                                {{ element.id }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Flaw
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                            >
                                <h6>{{ element.name }}:</h6>
                                {{ element.description }}
                            </td>
                        </ng-container>

                        <tr
                            mat-header-row
                            *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: displayedColumns"
                        ></tr>
                    </table>
                    <table
                        mat-table
                        [dataSource]="characterAPI.rules.flaws.slice(12, 24)"
                    >
                        <ng-container matColumnDef="id">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Roll
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                            >
                                {{ element.id }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Talent
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                            >
                                <h6>{{ element.name }}:</h6>
                                {{ element.description }}
                            </td>
                        </ng-container>

                        <tr
                            mat-header-row
                            *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: displayedColumns"
                        ></tr>
                    </table>
                    <table
                        mat-table
                        [dataSource]="characterAPI.rules.flaws.slice(24, 36)"
                    >
                        <ng-container matColumnDef="id">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Roll
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                            >
                                {{ element.id }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Talent
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                            >
                                <h6>{{ element.name }}:</h6>
                                {{ element.description }}
                            </td>
                        </ng-container>

                        <tr
                            mat-header-row
                            *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: displayedColumns"
                        ></tr>
                    </table>
                </div>
            }
        </mat-tab>
        <mat-tab label="Magical Powers">
            @if (characterAPI.rules) {
                <div class="flex flex-col md:flex-row md:max-w-1/3 magicalpowers">
                    <table
                        mat-table
                        [dataSource]="characterAPI.rules.magicalPowers.slice(0, 12)"
                        class="border-2 border-sheet-bg-light-blue"
                    >
                        <ng-container matColumnDef="id">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Roll
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                            >
                                {{ element.id }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Talent
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                            >
                                <h6>{{ element.name }}:</h6>
                                <markdown>
                                    {{ element.shortDescription }}
                                </markdown>
                            </td>
                        </ng-container>

                        <tr
                            mat-header-row
                            *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: displayedColumns"
                        ></tr>
                    </table>
                    <table
                        mat-table
                        [dataSource]="characterAPI.rules.magicalPowers.slice(12, 24)"
                    >
                        <ng-container matColumnDef="id">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Roll
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                            >
                                {{ element.id }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Talent
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                            >
                                <h6>{{ element.name }}:</h6>
                                {{ element.shortDescription }}
                            </td>
                        </ng-container>

                        <tr
                            mat-header-row
                            *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: displayedColumns"
                        ></tr>
                    </table>
                    <table
                        mat-table
                        [dataSource]="characterAPI.rules.magicalPowers.slice(24, 36)"
                    >
                        <ng-container matColumnDef="id">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Roll
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                            >
                                {{ element.id }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                            >
                                Talent
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                            >
                                <h6>{{ element.name }}:</h6>
                                {{ element.shortDescription }}
                            </td>
                        </ng-container>

                        <tr
                            mat-header-row
                            *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: displayedColumns"
                        ></tr>
                    </table>
                </div>
            }
        </mat-tab>
        <mat-tab label="Making a Check">
            @if (characterAPI.rules) {
                <div class="flex flex-col md:flex-row">
                    <div
                        id="left-half"
                        class="md:w-1/2 md:mr-5"
                    >
                        <h1>making a check</h1>
                        <p>When your kitty tries something tricky or dangerous, your GM will ask you to make a check. Normal actions like hopping from the ground onto a chair, or waking up from a nap, don't need checks. Harder tasks like jumping off a moving train, or reading human words, do need checks.</p>
                        <br />
                        <h2>Your Dice Pool</h2>
                        <p>Your dice pool is the number of dice you roll for your kitty to overcome a challenge. Your GM will tell you whether the check needs Cute, Cunning, or Fierce. The number you have in that Attribute is the number of dice you start with in your pool.</p>
                        <br />
                        <p>If your kitty is using a Talent, you can add another die to the pool. If your kitty is using a Magical Power, you get two more dice, once per scene. You may also get a die for a success bonus, or lose one for each Injury you have. If your total dice in a pool is zero, you can't roll it.</p>
                        <div class="flex flex-col bg-white border-2 border-sheet-bg-dark-blue my-2">
                            <div class="my-2 help-box-title">
                                <div class="text-sheet-dark-blue font-bold text-lg text-center">ALL THE DICE</div>
                            </div>
                            <div class="flex flex-col px-3">
                                @for (diceRule of characterAPI.rules.diceRules; track $index) {
                                    <span>{{ diceRule }}</span>
                                }
                                <br />
                                <span class="my-2">If that equals 0 dice, you can't roll it.</span>
                            </div>
                        </div>
                    </div>
                    <div
                        id="right-half"
                        class="md:w-1/2 md:ml-5"
                    >
                        <h2>Difficulty</h2>
                        <p>Your GM will also tell you the difficulty of the check, depending on what your kitty is trying to do. This number ranges from 3 to 6, and the higher it is, the tougher the check is.</p>

                        <table
                            mat-table
                            [dataSource]="characterAPI.rules.diceDifficulties"
                            class="border-2 border-sheet-bg-light-blue my-2"
                        >
                            <ng-container matColumnDef="difficulty">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                >
                                    Difficulty
                                </th>
                                <td
                                    mat-cell
                                    *matCellDef="let element"
                                >
                                    <div class="flex flex-col">
                                        <span>
                                            {{ element.difficulty }}
                                        </span>
                                        <span>
                                            {{ element.difficultyText }}
                                        </span>
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="cute">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                >
                                    Cute
                                </th>
                                <td
                                    mat-cell
                                    *matCellDef="let element"
                                >
                                    {{ element.cuteAction }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="cunning">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                >
                                    Cunning
                                </th>
                                <td
                                    mat-cell
                                    *matCellDef="let element"
                                >
                                    {{ element.cunningAction }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="fierce">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                >
                                    Fierce
                                </th>
                                <td
                                    mat-cell
                                    *matCellDef="let element"
                                >
                                    {{ element.fierceAction }}
                                </td>
                            </ng-container>
                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedDifficultyColumns"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="let row; columns: displayedDifficultyColumns"
                            ></tr>
                        </table>

                        <div>
                            <img src="acrobat_cat.png" />
                        </div>
                    </div>
                </div>
            }
        </mat-tab>
    </mat-tab-group>
</div>
