<div class="content">
    <div class="flex pt-12 ml-3 mr-3 mb-5">
        <div><span class="text-2xl lg:text-3xl font-bold primary-text">My Characters</span></div>

        <div class="ml-auto">
            <button
                mat-raised-button
                class="create"
                (click)="createCharacter()"
            >
                <span class="text-sm">Create a Character</span>
            </button>
        </div>
    </div>
    <div class="flex primary p-2 ml-3 mr-3 mb-5">
        <mat-form-field
            class="mr-auto grow"
            subscriptSizing="dynamic"
        >
            <input
                matInput
                type="search"
                placeholder="Search by name or level"
                (keyup)="search(getValue($event))"
            />
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
        <mat-form-field
            class="ml-3"
            subscriptSizing="dynamic"
        >
            <mat-select
                value="name"
                (selectionChange)="sort($event)"
            >
                <mat-option value="name">Name: A-Z</mat-option>
                <mat-option value="-name">Name: Z-A</mat-option>
                <mat-option value="level">Level: Low to High</mat-option>
                <mat-option value="-level">Level: High to Low</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    @if (characters$ | async; as characters) {
    <div class="flex flex-col md:flex-row flex-wrap min-w-1/2">
        @for (character of characters.items; track character.id) {
        <div class="ml-auto mr-auto xl:ml-0 xl:mr-0 w-96 p-2.5">
            <mat-card class="min-w-fit">
                <mat-card-content>
                    <div class="flex h-20">
                        <div class="flex justify-center items-center mr-3 h-10 w-10"><mat-icon>person</mat-icon></div>
                        <div class="flex flex-col">
                            <span class="text-xl">{{ character.name }}</span>
                            <span class="text">Level: {{ character.level }} | Human: {{ character.humanName ?? "Unknown" }}</span>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions class="flex justify-between">
                    <button
                        class="mr-1"
                        mat-button
                        (click)="viewCharacter(character.id)"
                    >
                        <span class="text-lg">View</span>
                    </button>
                    <button
                        class="mr-1"
                        mat-button
                        (click)="editCharacter(character.id)"
                    >
                        <span class="text-lg">Edit</span>
                    </button>
                    <button
                        class="mr-1"
                        mat-button
                        (click)="copyCharacter(character.id)"
                    >
                        <span class="text-lg">Copy</span>
                    </button>
                    <button
                        class="mr-1"
                        mat-button
                        (click)="deleteCharacter(character)"
                    >
                        <span class="text-lg">Delete</span>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        } @if(characters.items.length === 0) {
        <span class="text-lg ml-3">Looks like you don't have any characters, yet. Click 'Create a Character' above to get started!</span>
        }
    </div>
    }
</div>
