<div class="flex flex-col">
    <span class="text-3xl mb-2">Character Preferences</span>
    <span class="text-lg font-semibold">Dice Rolling</span>
    <span class="text-sm">Enables digital dice rolling for this character</span>

    <mat-checkbox
        disabled
        class="mb-5"
        >Enable Dice Rolling (tba)</mat-checkbox
    >

    <!-- TODO: following block is to be brought back once we have actual advancement type again. -->
    <!-- <span class="text-lg font-semibold">Advancement Type</span>
    <span class="text-sm">Story-based character progression / XP-based character progression</span>
    <mat-form-field class="max-w-96">
        <mat-select [formControl]="advancementType">
            <mat-option value="milestone">Milestone</mat-option>
            <mat-option value="xp">XP</mat-option>
        </mat-select>
    </mat-form-field> -->
</div>
