<div class="landing">
    <div class="information">
        <mat-card class="information-card">
            <img
                mat-card-image
                src="/magical-kitties-dragon.png"
            />
            <mat-card-content>
                <p>Create a Character</p>
            </mat-card-content> </mat-card
        ><mat-card class="information-card">
            <img
                mat-card-image
                src="/wild-ones-conclave.png"
            />
            <mat-card-content>
                <p>View My Characters</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="information-card">
            <img
                mat-card-image
                src="/atlashomepagebannerkittynoir_crop.png"
            />
            <mat-card-content>
                <p>Review the current campaign (coming soon)</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="information-card">
            <img
                mat-card-image
                src="/meowtropolis_promo.png"
            />
            <mat-card-content>
                <p>See the newest expansion on Kickstarter!</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
