.landing {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 1400px;
}

.announcements {
    display: flex;
    columns: 2;
    max-height: 300px;
}

.information-card {
    max-width: 400px;
    margin-right: 5rem;
}

mat-card-content {
    margin-top: auto;
}
