<mat-card
    class="min-w-full edit-background"
    appearance="outlined"
    *ngIf="this.human"
>
    <mat-card-header>
        <div class="flex flex-col">
            <mat-label>Name</mat-label>
            <mat-form-field
                appearance="outline"
                class="ml-1"
                *ngFor="let count of [(remainingNameCharacters$ | async)!.valueOf()]; trackBy: trackByFn"
                hintLabel="{{count <= Constants.MaxCharactersSmallInput/2 ? `Characters remaining: ${count}` : '' }}"
            >
                <input
                    matInput
                    maxlength="{{ Constants.MaxCharactersSmallInput }}"
                    [(ngModel)]="human.name"
                    (blur)="updateName(getValue($event))"
                />
            </mat-form-field>
        </div>
        <div class="ml-auto">
            <mat-icon
                class="cursor-pointer"
                (click)="removeHuman()"
                >remove</mat-icon
            >
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="flex flex-col">
            <mat-label>Description</mat-label>
            <mat-form-field
                appearance="outline"
                *ngFor="let count of [(remainingDescriptionCharacters$ | async)!.valueOf()]; trackBy: trackByFn"
                hintLabel="{{count <= Constants.MaxCharactersBigInput/2 ? `Characters remaining: ${count}` : '' }}"
            >
                <textarea
                    matInput
                    rows="3"
                    maxlength="{{ Constants.MaxCharactersBigInput }}"
                    [(ngModel)]="human.description"
                    (keyup)="updateMaxDescription()"
                    (blur)="updateDescription(getValue($event))"
                ></textarea>
            </mat-form-field>
        </div>
        <div class="flex flex-col">
            <mat-label>Problems</mat-label>
            <mat-accordion multi="true">
                <mat-expansion-panel
                    *ngFor="let problem of human.problems"
                    class="mt-1 accordion-color"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title>Source: {{ problem.source === "Custom" ? problem.customSource : problem.source }} Solved: {{ problem.solved ? "Yes" : "No" }}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-problem-builder
                        [problem]="problem"
                        [characterId]="human.characterId"
                        (problemRemoved)="removeProblem($event)"
                    ></app-problem-builder>
                </mat-expansion-panel>
            </mat-accordion>
            <button
                mat-flat-button
                matPrefix
                class="mt-2 mb-2"
                (click)="addNewProblem()"
            >
                <mat-icon>add</mat-icon><span class="text-lg">Add Problem</span>
            </button>
        </div>
    </mat-card-content>
</mat-card>
