// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use "@angular/material" as mat;
@use "./app/styles_theme-colors.scss" as theme;
@use "./tailwind.css";

html {
    @include mat.theme(
        (
            color: theme.$primary-palette,
            typography: Carrois Gothic,
            density: 0,
        )
    );
}

:root {
    --primary-background: #f8f2d1;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Carrois Gothic, "Carrois Gothic", sans-serif;
}

.content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.primary {
    background: var(--mat-sys-primary);
}

.faded-primary {
    background-color: rgba(#33666c, 0.6);
}

.on-primary {
    color: var(--mat-sys-on-primary);
}

.secondary {
    background: var(--mat-sys-secondary);
}

.on-secondary {
    color: var(--mat-sys-on-secondary);
}

.charactersheet {
    &-purple {
        color: rgba(#492b73, 1);
    }
    &-cute {
        color: rgba(#6ec9c7, 1);
    }
    &-cunning {
        color: rgba(#0386ac, 1);
    }
    &-medium-blue {
        color: rgba(#75a1b6, 1);
    }
    &-dark-blue {
        color: rgba(#004d66, 1);
    }
    &-orange {
        color: rgba(#d7712b, 1);
    }
    &-red {
        color: rgba(#ab4344, 1);
    }
}

.background {
    background-color: var(--primary-background);
    background-image: url(/Cat-Paw-Print-Clipart-white.png);
    background-repeat: repeat;
    background-size: 40px;
    background-blend-mode: overlay;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.plain-background {
    background-color: var(--primary-background);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.logo {
    height: inherit;
}

.clickable {
    cursor: pointer;
}

mat-toolbar-row {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

mat-divider.editor {
    @include mat.divider-overrides(
        (
            width: 2px,
            color: var(-mat-sys-on-secondary),
        )
    );
}

.cancel {
    @include mat.button-overrides(
        (
            protected-container-color: var(--mat-sys-error),
            protected-label-text-color: var(--mat-sys-on-error),
        )
    );
}

.snackbar-error {
    @include mat.snack-bar-overrides(
        (
            container-color: var(--mat-sys-error),
            supporting-text-color: var(--mat-sys-on-error),
            button-color: var(--mat-sys-on-error),
        )
    );
}

.upgrade-text {
    width: 23rem;
}

.full-width-mobile {
    width: calc(100dvw - 8px);
}
