@if (character) {
    <div class="flex flex-col lg:flex-row lg: items-center">
        <span class="font-bold text-lg text-sheet-orange">KITTY TREATS</span>
        <div class="flex space-x-1 bg-sheet-orange h-10 items-center mt-2 mb-5 full-width-mobile sm:max-w-[592px]! pr-2">
            <div
                class="max-h-14 max-w-14 relative"
                appDebounceClick
                [debounceTime]="80"
                (debounceClick)="clickedItem(1)"
            >
                <img src="/red_cat.png" />
                @if (character!.remainingTreats > 0) {
                    <div class="bg-sheet-orange rounded-full h-10 w-10 absolute top-3 left-2"></div>
                }
            </div>
            <div
                class="max-h-14 max-w-14 relative"
                appDebounceClick
                [debounceTime]="80"
                (debounceClick)="clickedItem(2)"
            >
                <img src="/red_cat.png" />
                @if (character!.remainingTreats > 1) {
                    <div class="bg-sheet-orange rounded-full h-10 w-10 absolute top-3 left-2"></div>
                }
            </div>
            <div
                class="max-h-14 max-w-14 relative"
                appDebounceClick
                [debounceTime]="80"
                (debounceClick)="clickedItem(3)"
            >
                @if (character!.remainingTreats >= 3) {
                    <img src="/red_cat.png" />
                } @else {
                    <img src="/gray_cat.png" />
                }
                @if (character!.remainingTreats > 2) {
                    <div class="bg-sheet-orange rounded-full h-10 w-10 absolute top-3 left-2"></div>
                }
            </div>
            <div
                class="max-h-14 max-w-14 relative"
                appDebounceClick
                [debounceTime]="80"
                (debounceClick)="clickedItem(4)"
            >
                <img src="/gray_cat.png" />
                @if (character!.remainingTreats > 3) {
                    <div class="bg-sheet-orange rounded-full h-10 w-10 absolute top-3 left-2"></div>
                }
            </div>
            <div
                class="max-h-14 max-w-14 relative"
                appDebounceClick
                [debounceTime]="80"
                (debounceClick)="clickedItem(5)"
            >
                <img src="/gray_cat.png" />
                @if (character!.remainingTreats > 4) {
                    <div class="bg-sheet-orange rounded-full h-10 w-10 absolute top-3 left-2"></div>
                }
            </div>
            <div class="flex flex-col h-16 w-16 text-center border-2 border-sheet-orange bg-white ml-auto">
                <span class="font-bold text-sheet-orange text-xs">STARTING</span>
                <span class="text-sheet-orange text-2xl">{{ character ? character.treatsDisplay : 0 }}</span>
            </div>
        </div>
        <div class="flex flex-col">
            @if (characterService.rules) {
                <span class="font-bold text-sheet-red text-sm">SPEND ONE KITTY TREAT TO:</span>
                <p></p>
                <ul class="list-disc pl-3 text-xs text-sheet-red">
                    @for (treatRule of characterService.rules.spendingKittyTreats; track $index) {
                        <li>{{ treatRule }}</li>
                    }
                </ul>
            }
        </div>
    </div>
}
