@if (character) {
    <div class="flex flex-col full-width-mobile md:!w-full">
        <div class="flex flex-col">
            <span class="font-bold text-lg text-sheet-red">CURRENT OWIES</span>
            <span class="text-sheet-red">New Owie > Owie limit = +1 Injury</span>
        </div>
        <div class="flex space-x-1 bg-sheet-red h-10 items-center mt-2 mb-5 pr-2">
            @for (index of indexRange; track $index) {
                <ng-container
                    [ngTemplateOutlet]="xpIcon"
                    [ngTemplateOutletContext]="{ index: index }"
                ></ng-container>
            }
            <div class="flex flex-col h-16 min-h-16 w-16 min-w-16 text-center border-2 border-sheet-red bg-white ml-auto md:mr-0">
                <span class="font-bold text-sheet-red">LIMIT</span>
                <span class="text-sheet-red text-2xl">{{ character ? character.maxOwiesDisplay : 0 }}</span>
            </div>
        </div>
    </div>
}

<ng-template
    #xpIcon
    let-index="index"
>
    <div
        class="max-h-14 max-w-14 relative"
        appDebounceClick
        [debounceTime]="80"
        (debounceClick)="clickedItem(index)"
    >
        @if (character!.maxOwiesDisplay >= 3) {
            <img src="/red_paw.png" />
        } @else {
            <img src="/gray_paw.png" />
        }
        @if (character!.currentOwies > index - 1) {
            <div class="bg-sheet-red rounded-full absolute h-10 w-10 top-[50%] left-[50%] -ml-5 -mt-5"></div>
        }
    </div>
</ng-template>
