<div class="flex flex-col min-w-xs items-center sm:items-baseline ml-3 mr-3 sm:ml-0 sm:mr-0">
    <div class="flex flex-col w-full">
        <span class="mr-2 font-semibold">Hometown</span>
        <mat-form-field appearance="outline">
            <input
                matInput
                [formControl]="hometownControl"
                (blur)="updateHometown()"
            />
        </mat-form-field>
    </div>
    <div class="flex flex-col w-full">
        <span class="mr-2 font-semibold">Kitty Description</span>
        <mat-form-field appearance="outline">
            <textarea
                matInput
                rows="4"
                [formControl]="kittyDescriptionControl"
                (blur)="updateKittyDescription()"
            ></textarea>
        </mat-form-field>
    </div>
    <div class="flex flex-col w-full">
        <span class="mr-2 font-semibold">Humans</span>
        <div
            *ngFor="let human of character.human"
            class="mt-1"
        >
            <app-human-builder
                [human]="human"
                (humanRemoved)="removeHuman($event)"
            ></app-human-builder>
        </div>
        <button
            mat-flat-button
            matPrefix
            class="mt-2 mb-2"
            (click)="addNewHuman()"
        >
            <mat-icon>add</mat-icon><span class="text-lg">Add Human</span>
        </button>
    </div>
</div>
