.icon-display {
    transform: scale(2);
}

mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: transparent;
}

mat-drawer {
    background-color: var(--primary-background);
    padding: 5px;
}

@media screen and (min-width: 1024px) {
    #fullHelp {
        visibility: visible;
    }
    #miniHelp {
        visibility: hidden;
    }
}

@media screen and (max-width: 1024px) {
    #fullHelp {
        visibility: hidden;
    }
    #miniHelp {
        visibility: visible;
    }
}
