@if (submitCodeInvalid) {
  <div>
    Sorry, the code provided is either invalid or expired. You can request a new code be sent from the email you received or
    <a
      href="mailto:support@magicalkitties.net"
      class="font-medium text-blue-600 dark:text-blue-500 hover:underline cursor-pointer"
      >Contact Support</a
      >.
    </div>
  }
  @if (resendCodeInvalid) {
    <div>
      Sorry, the code provided is either invalid or expired.
      <a
        href="mailto:support@magicalkitties.net"
        class="font-medium text-blue-600 dark:text-blue-500 hover:underline cursor-pointer"
        >Contact Support</a
        >
        for assistance with your request.
      </div>
    }
    @if (resendCodeComplete) {
      <div>A new activation link has been sent to your email. Follow its instructions to activate your account.</div>
    }
    @if (activationComplete) {
      <div>
        Thank you for activating your account!
        <a
          class="font-medium text-blue-600 dark:text-blue-500 hover:underline cursor-pointer"
          routerLink="/login"
          routerLinkActive="router-link-active"
          >Login</a
          >
          to begin your Magical Kitty adventure.
        </div>
      }
