<mat-card
    class="min-w-full edit-background mb-1"
    appearance="outlined"
>
    <mat-card-header
        ><div class="ml-auto">
            <mat-icon
                class="cursor-pointer"
                (click)="removeProblem()"
                >remove</mat-icon
            >
        </div></mat-card-header
    >
    <mat-card-content class="flex flex-col">
        <div
            class="flex items-baseline"
            ngClass="{{ getAlignmentCSS(problem.source) }}"
        >
            <div class="flex flex-col max-w-1/2">
                <mat-label>Source</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select
                        (selectionChange)="updateProblemSource($event)"
                        [value]="getProblemValue(problem.source, characterAPI.rules?.problemSource)"
                    >
                        @if (getProblemValue(problem.source, characterAPI.rules?.problemSource) === '') {
                        <mat-option value="">-- Select Source --</mat-option>
                        } @for (problem of characterAPI.rules?.problemSource; track trackByFn(problem.source, "Problems")) {
                        <mat-option [value]="problem.source">{{ problem.source }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            @if (selectedProblemSource === 'Custom') {
            <div class="flex flex-col ml-1 max-w-1/2">
                <mat-label class="text-xs pb-[2px] sm:text-base sm:pb-0">Custom Source</mat-label>
                @if ({value: (remainingSourceCharacters$ | async)}; as count) {
                <mat-form-field
                    appearance="outline"
                    hintLabel="{{count.value! <= Constants.MaxCharactersSmallInput/2 ? `Characters remaining: ${count.value!}` : '' }}"
                >
                    <input
                        matInput
                        maxlength="{{ Constants.MaxCharactersSmallInput }}"
                        [(ngModel)]="problem.customSource"
                        (keyup)="updateMaxSource()"
                        (blur)="customSourceUpdated(getValue($event))"
                    />
                </mat-form-field>
                }
            </div>
            }
        </div>
        <div
            class="flex items-baseline mt-1"
            ngClass="{{ getAlignmentCSS(problem.emotion) }}"
        >
            <div class="flex flex-col max-w-1/2">
                <mat-label>Emotion</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select
                        (selectionChange)="updateProblemEmotion($event)"
                        [value]="getEmotionValue(problem.emotion, characterAPI.rules?.emotion)"
                    >
                        @if (getProblemValue(problem.emotion, characterAPI.rules?.emotion) === '') {
                        <mat-option value="">-- Select Emotion --</mat-option>
                        } @for (emotion of characterAPI.rules?.emotion; track trackByFn(emotion.source, "Emotion")) {
                        <mat-option [value]="emotion.source">{{ emotion.source }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            @if (selectedProblemEmotion === 'Custom') {
            <div class="flex flex-col ml-1 max-w-1/2">
                <mat-label class="text-xs pb-[2px] sm:text-base sm:pb-0">Custom Emotion</mat-label>
                @if ({value: (remainingEmotionCharacters$ | async)}; as count) {
                <mat-form-field
                    appearance="outline"
                    hintLabel="{{count.value! <= Constants.MaxCharactersSmallInput/2 ? `Characters remaining: ${count.value!}` : '' }}"
                >
                    <input
                        matInput
                        maxlength="{{ Constants.MaxCharactersSmallInput }}"
                        [(ngModel)]="problem.customEmotion"
                        (keyup)="updateMaxEmotion()"
                        (blur)="customEmotionUpdated(getValue($event))"
                    />
                </mat-form-field>
                }
            </div>
            }
        </div>
        <div class="flex mt-1 sm:justify-around">
            <div class="flex flex-col max-w-1/2">
                <mat-label>Rank</mat-label>
                <mat-form-field
                    appearance="outline"
                    subscriptSizing="dynamic"
                >
                    <input
                        matInput
                        type="number"
                        min="0"
                        max="99"
                        [value]="problem.rank"
                        (blur)="updateRank(getValue($event))"
                    />
                </mat-form-field>
            </div>
            <div class="flex flex-col ml-1 max-w-1/2">
                <mat-label>Solved</mat-label>
                <mat-form-field
                    appearance="outline"
                    subscriptSizing="dynamic"
                >
                    <mat-select
                        (selectionChange)="updateSolved($event)"
                        [value]="problem.solved.toString()"
                    >
                        <mat-option value="false">No</mat-option>
                        <mat-option value="true">Yes</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>
